/* remove default margin and padding from body */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 90%; /* Full width */
  display:inline-block;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}


body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: flex;
  width: 90%;
  height: 90%;
}

div.ex1 {
  margin-top: 10px;
  background: linear-gradient(to bottom right, #581845, #900C3F, #C70039, #FF5733, #FFC300);
  width: 99%;
  height: 90%;
  overflow: visible;
  position: flex;

}

div.ex2 {
  margin-top: 10px;
  width: 99%;
  height: 90%;
  overflow: visible;
  position: flex;

}


html {
  height: 100%;
}

h1 { 
  margin-top: 50px;
  color: whitesmoke; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: 0px; 
  line-height: 1; 
  text-align: left;
}

h4 {
  margin-top: 15px;
  color: whitesmoke;
}

p {
  color: whitesmoke;
}
.sub_head {
  color: whitesmoke; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 24px;
  text-align: center;
}

.animation-wrapper {
  width: 80%;
  padding-bottom: 40%;
}

/** Layered Animation **/

.layered-animations {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 550px;
  margin: -275px 0 0 -550px;
}

.layered-animations .shape {
  position: absolute;
  top: 50%;
  overflow: visible;
  width: 280px;
  height: 280px;
  margin-top: -140px;
  stroke: transparent;
  stroke-width: 1px;
  fill: url(#shapesGradient);
}

@media (min-width: 740px) {
  .layered-animations .shape {
    stroke-width: .5px;
  }
}

.layered-animations .small.shape {
  width: 64px;
  height: 64px;
  margin-top: -32px;
  stroke: currentColor;
  fill: currentColor;
}

.layered-animations .x-small.shape {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  stroke: currentColor;
  fill: currentColor;
}